<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()" ><ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Atendimento</ion-title> <ion-icon slot="end" size="large" name="medkit-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="level == 1">
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle *ngFor="let item of lista">
          <h5>Ocorrência #ID{{item.id}}</h5>
        </ion-card-subtitle>

        <ion-item detail="false" *ngIf="status == 'Fechado'">
          <ion-label>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Resumo do Atendimento:</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content" *ngFor="let x of otherlista" button>
                  <p>Tratativa: {{x.tratativa}}</p>
                  <p>Qualificação de Gravidade: {{x.qualificacao}}</p>
                  <p>Principal Queixa: {{x.prin_qx}}</p>
                  <p>Medicamentos: {{x.medicamentos}}</p>
                  <p>Informações Adicionais: {{x.inf_adc}}</p>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-label>
        </ion-item>  
        
      </ion-card-header>
      <ion-item>
        <ion-label>Registrar Chegada:</ion-label>
      <ion-toggle justify="end" [disabled]="(chegada != null)" (click)="savechegada()"></ion-toggle>
    </ion-item>
      <ion-item detail="false">
        <ion-label>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Detalhes da ocorrência:
                </ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" *ngFor="let item of lista" button>
                <p>Nome:{{item.nome}}</p>
                <p>Empresa:{{item.empresa}}</p>
                <p>Data:{{item.saida | date:'dd/MM/yyyy HH:mm'}}</p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-label>
      </ion-item>
      <ion-item detail="false">
        <ion-label>
          Inicio do atendimento (chegada)
         <p> {{chegada | date:'dd/MM/yyy HH:mm'}}   </p>
        </ion-label>
      </ion-item>

    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="tratativa" placeholder="Selecione a Tratativa do Atendimento">
            <ion-select-option value="dispensa">Retorno ao Trabalho</ion-select-option>
            <ion-select-option value="atendimento">Dispensa</ion-select-option>
            <ion-select-option value="retorno">Atendimento Externo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <h5>Qualificação de Gravidade de Atendimento</h5>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-list>
        <ion-radio-group [(ngModel)]="qualificacao" value="classificações">
          <ion-item>
            <ion-label color="medium">Sem avaliação</ion-label>
            <ion-radio color="medium" slot="end" value="sem avaliação"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label color="success">Baixa</ion-label>
            <ion-radio color="success" slot="end" value="baixa"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label color="warning">Média</ion-label>
            <ion-radio color="warning" slot="end" value="média"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label color="danger">Alta</ion-label>
            <ion-radio color="danger" slot="end" value="alta"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Principal Queixa:</ion-label>
        <ion-textarea [(ngModel)]="prin_qx"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Medicamentos:</ion-label>
        <ion-textarea [(ngModel)]="medicamentos"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Informações Adicionais:</ion-label>
        <ion-textarea [(ngModel)]="inf_adc"></ion-textarea>
      </ion-item>
    </ion-card>
    
    <div style="text-align: center;">
      <ion-button [disabled]="(status == 'Fechado') || !tratativa || !qualificacao || !prin_qx || !medicamentos" (click)="salvar()" color="danger" expand="block">Encerrar Atendimento
      </ion-button>
    </div>
  </div>
</ion-content>